body {
    background: #eef3fb;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin-top: 5%;
    width: 1000px;
    margin: auto;
    text-align: left;
    background: #ffffff;
}
.header{
    width: 100%;
    /* height: 111%; */
    margin-bottom: 1%;
    font-size: xx-large;
    background-color: #4582af;
    text-align: center;

    
}
.custom-btn-class{
    background-color:#4582af;
}
.krasota {
    font-family: Georgia;
    text-transform: capitalize;
    /* text-shadow:5px 2px 4px gray; */
    /* background-color: #3b6978; */
}
.rounding {
    border-radius: 10px;
}
.bg {
    /* background-color: ; */
    line-height: 1.5;
    font-size: 15px;
}
.otstup {
    margin-left: 50px;
    margin-right: 50px;

}

.otstuptop {
    padding-top: 30px;
}

.otstupbottom {
    margin-bottom: 30px;
}

.otstupbottompadding {
    padding-bottom: 30px;
}



.red{
    color: red;
}



.header {
    width: 100%;

    padding: 13px 8px;
    margin-bottom: 1%;
    font-size: 13.5px;
    background-color: #4582af;
    
    
}
.non-shifting{
    margin: 0;
    padding: 0;
}

.text-shifting-top{
    margin-top: 6%;
}

.text-shifting-left{
    margin-left: 1%;
}
#container {
    /* background: #204051; */
    /* text-align: center; */
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

#navigation {
    background: #FE9798;
    width: 100%;
    height: 25px;
}

#sidebar{
    background: #ffffff;
    float: left;
    margin-left: 1%;
    width: 18%;
    /* text-align: center; */
    height: 50px;
}

#sidebarnext{
    margin-top: 20px;
    margin-left: 1%;
    float: left;
    width: 18%;
    height: 50px;
    background-color: white;
}
#sidebarnext-nonback{
    margin-top: 20px;
    margin-left: 1%;
    float: left;
    width: 18%;
}

#content {
    background: #ffffff;
    float: right;
    width: 70%;
    margin-right: 5%;
}
.end{
    margin-left: 81%;
}
.right{
    text-align: left;
}

.block-content{
    float: right;
    margin-top: 20px;
}

#clear {
    clear: both;
}



#footer {
   background: #00BFFF;
   width: 100%;
   height: 40px;
}

.round-icon {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px green, 0 0 13px #333; /* Параметры теней */
   }

.cover{
    width: 30%;
    /* float: left; */
    /* text-align: left; */
    float: left;
    border: 2px solid #cecece;
    border-radius: 2px 8px 8px 2px;
}

.item-info{
    /* text-align: center; */
    float: right;
    width: 60%;
}
/* .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    transition-property: top,right,opacity;
    transition-duration: .3s;
    color: #FE9798;
    transition-timing-function: ease-in-out;
} */

/* Слева */
.ribbon-left {
	position: absolute;
	top: 18px;
	left: -11px;
	color: #fff;
	background: #32be5b;
	padding: 0 20px;
	height: 26px;
	line-height: 26px;
}
.ribbon-left:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: #1f7538 transparent transparent;
	border-width: 8px 0px 17px 10px;
	top: 100%;
	left: 0;
}
.box {
	position: relative;
	margin: 0 auto;
	/* background: #efefef; */
}
.ribbon-left:after {
	content: "";
	position: absolute;
	right: -21px;
	top: 0;
	height: 0;
	width: 0;
	border: 13px solid transparent;
	border-left: 13px solid #32be5b;
	transform: scaleX(.65);
}

.cover-search{
    width: 30%;
    border: 2px solid #cecece;
    border-radius: 2px 8px 8px 2px;
}