{% extends "base.html" %}

{% block content %}
<h2 align="center">
    <br>
  {{title}}<br>
    <br>
</h2>

<div class="container-fluid">
  <div class="row row-cols-10 g-0">
    <div class="col">
        <div class="p-3 border bg-light">Название</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">Автор</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">Количество</div>
    </div>
      <div class="col">
       <div class="p-3 border bg-light">Цена</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">Жанр</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">Действия с книгой</div>
    </div>
   </div>
  </div>
<div class="container-fluid">
{% for item in books %}
  <div class="row row-cols-10 g-0">
    <div class="col">
     <div class="p-3 border bg-light">{{item.name}}</div>
    </div>
      <div class="col">
          <div class="p-3 border bg-light">{{item.author}}</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">{{item.quantity}}</div>
    </div>
      <div class="col">
     <div class="p-3 border bg-light">{{item.price}}</div>
    </div>
      <div class="col">
      <div class="p-3 border bg-light">{{item.genre}}</div>
    </div>
      <div class="col">
        <form action="/edit/{{item.id}}" method="POST">
            <input type="submit" class="btn btn-outline-success btn-sm" value="Отредактировать">
        </form>
          <form action="/delete/{{item.id}}" method="POST">
            <input type="submit" class="btn btn-outline-danger btn-sm" value="Удалить">
        </form>
    </div>
   </div>
{% endfor %}
</div>
<br>
<br>
<div align="center">
    <form action="/add_form" method="POST">
        <input type="submit" class="btn btn-outline-primary" value="Добавить книгу">
    </form>
</div>


{% endblock %}
