{% extends "base.html" %}

{% block content %}

<br>
<br>
<div class="container border border-primary border border-2 rounded">
    <br>
    <div class="row">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="text", value=page.title) }}<br>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control", type="text", value=page.description) }}<br>
            {{ form.enabled.label }}<br>
            {{ form.enabled(class="form-check-input", type="checkbox") }}<br>
            <div align="center">{{ form.submit(type="submit", class="btn btn-outline-primary") }}</div>
            <br>

        </form>
</div>
</div>

{% endblock %}
