{% extends "base.html" %}

{% block content %}

<article class="rounding wrapper shadow" style="margin-top: 2%;">
    <section class="otstuptop otstupbottompadding">
        <div class="otstup ">
            <div class="box">
            <div style="display: inline-block;">
                <div class="ribbon-left">Популярный</div>
                <!-- <img class="cover shadow" src="/static/img/prototype.jpg" alt=""> -->
                <img class="cover shadow" src="{{ book.icon }}" alt="">
                <div class="item-info">
                    <p class="fs-3">{{ book.name }}</p>
                    <p class="fs-4">{{ book.author }}</p>
                    <p class="fs-5">Жанры: {{book.genre}}, {{book.category}}</p>
                    <p class="fs-5">Цена: {{ book.price }}</p>
                    <p style="color: #656565;">

<!--                    <p>Описание:</p>-->
                    {% if book.about != None %}
                    <p> {{ book.about }}</p>
                    {% endif %}
                    <div class="status">
                    <form action="/add_to_basket/{{book.id}}/{{book.author}}/{{book.name}}/item" method="POST">
                        <input type="submit" class="btn btn-outline-success" value="Добавить в корзину">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
</article>

{% endblock %}
